.main1 img{
    width: 100vw;
    height: 100vh;
}
.main2 img{
    width: 100vw;
    height: 40vh;
}
.main1 {
    display: block;
}
.main2 {
    text-align: center;
    display: none;
}

/* Mobile View (Max width: 768px) */
@media screen and (max-width: 768px) {
    .main1 {
        display: none;
    }
    .main2 {
        
        display: block;
    }
}